In [1]:
import numpy as np
import pandas as pd
df = pd.read_json("small-circRNA2miRNA.json")
df.head()

,circRNA,miRNAs,numSites
0,hsa_circ_0000005,"[hsa-miR-100, hsa-miR-1178, hsa-miR-1179, hsa-...","[1, 7, 1, 3, 1, 5, 1, 23, 7, 18, 11, 5, 18, 6,..."
1,hsa_circ_0000003,"[hsa-miR-100, hsa-miR-1178, hsa-miR-1179, hsa-...","[2, 6, 2, 2, 1, 5, 1, 7, 6, 5, 4, 9, 4, 1, 2, ..."
2,hsa_circ_0000001,"[hsa-miR-1224-3p, hsa-miR-758]","[1, 1]"
3,hsa_circ_0000006,"[hsa-miR-100, hsa-miR-1178, hsa-miR-1180, hsa-...","[1, 6, 3, 2, 3, 2, 17, 5, 12, 11, 5, 16, 4, 9,..."
4,hsa_circ_0000007,"[hsa-miR-492, hsa-miR-508-3p, hsa-miR-665, hsa...","[1, 1, 1, 1]"

In [2]:
data = []
for i in range(len(df)):
    for j in range(len(df['miRNAs'][i])):
        tmp = []
        tmp.append(df['circRNA'][i])
        tmp.append(df['miRNAs'][i][j])
        tmp.append(df['numSites'][i][j])
        tmp = np.array(tmp)
        data.append(tmp)
data = np.array(data)

In [3]:
print(data)

[['hsa_circ_0000005' 'hsa-miR-100' '1']
 ['hsa_circ_0000005' 'hsa-miR-1178' '7']
 ['hsa_circ_0000005' 'hsa-miR-1179' '1']
 ...,
 ['hsa_circ_0000099' 'hsa-miR-935' '1']
 ['hsa_circ_0000099' 'hsa-miR-941' '1']
 ['hsa_circ_0000099' 'hsa-miR-942' '1']]

In [4]:
columns = ["circRNA", "miRNAs", "numSites"]
df2 = pd.DataFrame(data,columns=columns)
df2.to_csv("test.csv", index=False)
df2.head()

            circRNA        miRNAs numSites
0  hsa_circ_0000005   hsa-miR-100        1
1  hsa_circ_0000005  hsa-miR-1178        7
2  hsa_circ_0000005  hsa-miR-1179        1
3  hsa_circ_0000005  hsa-miR-1180        3
4  hsa_circ_0000005  hsa-miR-1181        1